<!DOCTYPE html>
<html>
<head>
  <title>Cookie Page</title>
</head>
<body>
  <h1 id = "cookie">You have visited this page more than 5 times and have been blocked from viewing its contents.</h1>
  
</body>
</html>