<!DOCTYPE html>
<html>
<head>
  <title>Cookie Page</title>
</head>
<body>
  <h1 id = "cookie">You have visited this page <%=visited%> times!</h1>
  <p>Here is some content:</p>
  <img src = "/2024aambekar/img/happy.jpg" width = 200 height = 200>
</body>
</html>