<!DOCTYPE html>
<html>
<head>
    <title>Madlibs</title>
    <style type="text/css">
      ul {
        list-style-type: none;
      }
    </style>
</head>

<body>
  <h3>Madlibs!</h3>
  <div>
    <form action="madlibresult" method='POST'>
    <p>Name: <input type="text" name="name"></p>
    <p>Favorite Food: <input type="text" name="food"></p>
    <p>Favorite Number: <input type="text" name="number"></p>
    <p>Are you happy?: <input type = "checkbox" name = "yesno"></p>
    <p>Verb ending with -ing: <input type="text" name="ing"></p>
    <button type="submit">Submit</button>
    <br><br><br>
    <a href = "home">Home</a>
    <a href = "labs">Labs</a>
    </form>
  </div>
</body>
</html>