<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Form</title>
</head>
<body>
    <form action = "form_handler_01" >
        <ul>
            <h2>Enter a number:</h2>
            <input type = "text" name = "num_input">
            <input type = "submit">
        </ul>
    </form>
</body>
</html>